.sidebar {
  width: 25%;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #2c2c2c;
  gap: 1%;
}

.sidebar-header {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0d0d0d;
  padding: 15px;
  height: 60px;
  color: #ffffff;
  border-bottom: 1px solid #2c2c2c;
  text-align: center;
}

.sidebar .add-contact-form {
  padding: 3%;
  align-items: center;
  justify-content: space-between;
  background-color: #0d0d0d;
  border-bottom: 1px solid #2c2c2c;
  height: 7%;
  display: none;
}

#add-contact-input {
  background-color: #2e2e2e;
  border: none;
  font-size: 110%;
  color: rgb(196, 196, 196);
  height: 100%;
  width: 70%;
  padding: 1%;
}

#add-contact-submit-btn {
  background-color: #1a7ca3;
  border: none;
  font-size: 110%;
  width: 20%;
  height: 100%;
  border-radius: 9px;
}

#add-contact-submit-btn:hover {
  background-color: #1e98c9;
}
#add-contact-submit-btn:active {
  background-color: #1d6683;
}

.chat-list {
  overflow-y: auto;
  padding: 10px;
  list-style-type: none;
  flex: 1;
}

.chat-list::-webkit-scrollbar {
  width: 8px;
}
.chat-list::-webkit-scrollbar-track {
  background: #1e1e1e;
}
.chat-list::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  transition: background 0.2s;
  cursor: pointer;
}

.chat-item:hover {
  background-color: #2a2a2a;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #444;
}

.chat-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.chat-info .chat-name {
  font-size: 1.1rem;
  color: #ffffff;
}

.chat-info .recent-msg {
  font-size: 0.9rem;
  color: #a0a0a0;
}