.sidebar {
  width: 25%;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #2c2c2c;
  gap: 1%;
}

.sidebar-header {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0d0d0d;
  padding: 15px;
  height: 60px;
  color: #ffffff;
  border-bottom: 1px solid #2c2c2c;
  text-align: center;
}
