<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI-Chat-app</title>
    <link rel="stylesheet" href="/frontend/static/index.css">
</head>
<body>
    <div class="chat-app">
        <aside class="sidebar">
            <header class="sidebar-header">Chats
            </header>
            <div class="add-contact-form">
                <input id="add-contact-input" type="text" placeholder="Enter email">
                <button type="submit" id="add-contact-submit-btn">Add</button>
            </div>
            <ul class="chat-list" id="chat-list">
            </ul>
        </aside>
        <div class="chat-container">
            <div class="chat-title">
                <img src="assets/default-profile-icon.jpg" class="avatar">
                <h2></h2>
                <button class="options-button">⋮</button>
                <div class="options-menu">
                    <button class="menu-option" id="create-group">Create Group</button>
                    <button class="menu-option" id="add-contact">New Contact</button>
                    <button class="menu-option" id="view-profile">Profile</button>
                    <button class="menu-option" id="logout-btn">Logout</button>
                </div>
                <div class="create-group-form">
                    <h3>Create Group</h3>
                    <input id="group-name-input" type="text" placeholder="Enter group name">
                    <div class="add-member">
                        <h4>Add Members</h4>
                        <button class="menu-option" id="select-user"><img src="assets/default-profile-icon.jpg" class="avatar"><p>User</p></button>
                    </div>
                    <button type="submit" id="create-group-btn">Create</button>
                </div>
                <div class="profile">
                    <h3>Profile</h3>
                    <div class="profile-details">
                        <p>Username: <span id="profile-username">Jayant</span></p>
                        <p>Email: <span id="profile-email">jayanttodmal@gmail.com</span></p>
                        <p>Joined: <span id="profile-join-date">Nov 2023</span></p>
                    </div>
                    <button id="update-profile-btn">Update Profile</button>
                </div>
            </div>
            <div class="messages" id="messages">
            </div>
            <div class="chat-input" id="chat-input">
                <button class="emoji"><img src="assets/emoji-icon-image.png"></button>
                <input id="message-input" type="text" placeholder="Type a message">
                <button class="send-btn">Send</button>
            </div>
        </div>
    </div>
    <script src="/frontend/scripts/chat.js">
    </script>
</body>
</html>
