<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App - Login</title>
    <link rel="stylesheet" href="/frontend/static/login.css">
</head>
<body>
    <div class="form-box">
    <form class="form">
        <span class="title">Login</span>
        <span class="subtitle">Welcome Back!</span>
        <div class="form-container">
            <input type="text" class="input" placeholder="Username/Email">
            <input type="password" class="input" placeholder="Password">
        </div>
        <button>Login</button>
    </form>
        <div class="form-section">
            <p>Don't have an account? <a href="">SignUp</a> </p>
        </div>
    </div>
</body>
</html>