<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App - SignUp</title>
    <link rel="stylesheet" href="/frontend/static/login.css">
</head>
<body>
    <div class="form-box">
        <form class="form" id="signup-form">
            <span class="title">Sign up</span>
            <span class="subtitle">Create an account with your email.</span>
            <div class="form-container">
                <input type="text" class="input" id="username" placeholder="Username">
                <input type="email" class="input" id="email" placeholder="Email">
                <input type="password" class="input" id="password" placeholder="Password">
            </div>
            <button type="submit">Sign up</button>
        </form>
        <div class="form-section">
            <p>Already have an account? <a href="login.html">Log in</a> </p>
        </div>
    </div>
    <script>
        const API_URL="http://127.0.0.1:8000"
        signupForm = document.getElementById("signup-form");
        signupForm.addEventListener("submit", async(e) => {
            e.preventDefault();
            const username = document.getElementById("username").value;
            const email = document.getElementById("email").value;
            const password= document.getElementById("password").value;

            const res = await fetch(`${API_URL}/user/signup`, {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({username, email, password})
            });
            if (res.ok) {
                alert("Signup successful! Please log in.");
                window.location.href = "login.html"
            }
            else {
            const errorData = await res.json();
            alert(`Signup failed: ${errorData.detail || res.statusText}`); 
        }
        });
    </script>
</body>
</html>